$primary-font: cursive;
@mixin flex-property {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}
html {
  font-size: 15px;
}
body {
  @include flex-property();
  height: 100vh;
  background-color: salmon;
}
.container {
  padding: 1rem;
  width: 30vw;
  background-color: lightpink;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
  h4 {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
    font-weight: bolder;
  }
  .textarea {
    resize: none;
    width: 30vw;
    box-sizing: border-box;
    height: 15vh;
    font-size: 1.1rem;
    padding: 0.2rem;
    font-family: sans-serif;
    border: 2px solid darkgray;
  }
  .textarea:focus {
    outline: none;
  }
  .text {
    @include flex-property();
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
    font-size: 1.1rem;
    color: black;
    p {
      padding: 0 0.1rem;
    }
    #left {
      color: orangered;
    }
    #total {
      color: blueviolet;
    }
  }
}
@media only screen and (max-width:672px){
  .container h4{
    font-size: 1rem;
  }
  .text p{
    font-size: 1rem;
  }
  .textarea::placeholder{
    font-size: 0.8rem;
  }
}